<a href="https://colab.research.google.com/github/Tanmoy-Sarkar-Pranto/Finite-Automata/blob/main/Finite_Automata_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Welcome to automata lab with python \n')

age = 25
salary = 35000.236
name = 'Sakib'

print(type(age), type(salary), type(name))

print('Mr.',name,' is',age,' years old.')

In [8]:
n = int(input('What\'s your age = '))

print(type(n))

fname = input('Enter first name = ')
lname = input('Enter last name = ')

fullname = fname + ' ' + lname
print('You\'r', fullname)
print(f'You\'r {fname} {lname}')

What's your age = 22
<class 'int'>
Enter first name = Tanmoy
Enter last name = Pranto
You'r  Tanmoy Pranto
Tanmoy is Pranto

In [12]:
a,b,c = 102 , 'Pranto', 20j

print(type(a),type(b),type(c))

list1 = [102,14.36,10j,'Pranto']
print(list1)
print(type(list1))

<class 'int'> <class 'str'> <class 'complex'>
[102, 14, 36, 10j, 'Pranto']
<class 'list'>

In [55]:
a,b,c = map(int, input('Enter 3 numbers = ').split())
print(a,b,c)

Enter 3 numbers = 1 2 3
1 2 3

**Indentation in Python**

In [27]:
i = int(input('Enter a number = '))

if i%2 is 0 and i>0:
  print(f'{i} is Even')
elif i%2 is 1 and i>0:
  print(f'{i} is Odd')
elif i<0:
  print('Enter a positive number')

Enter a number = -2
ENter a positive number

In [31]:
i = int(input('Enter a number = '))

if i>0:
  if i%2 is 0:
    print(f'{i} is even')
  else:
    print(f'{i} is odd')
elif i<0:
  print('Enter a positive number')

Enter a number = 32
32 is even

In [34]:
country = input('Country = ')
age = int(input('Enter age = '))

if country == 'USA' and age>=25:
    print('You are allowd')
elif country == 'USA' and age<25:
    print('You are not allowd')
elif country == 'England' and age>=20:
    print('You are allowed')

Country = USA
Enter age = 23
You are not allowd

In [45]:
i = 0
while i<=10:
    if i>=5:
        break
    print(i,end=' ')
    i+=1
print('\n')

for i in range(10):
    print(i,end=' ')
print('\n')

for i in range(0,10,2):
    print(i,end=' ')
print('\n')

for i in range(10,0,-1):
    print(i,end=' ')
print('\n')

for i in range(2,10):
    print(i,end=' ')
print('\n')

0 1 2 3 4

0 1 2 3 4 5 6 7 8 9

0 2 4 6 8

10 9 8 7 6 5 4 3 2 1

2 3 4 5 6 7 8 9

In [69]:
import math

for i in range(1,101):
    flag=1
    if i>1:
        for j in range(2,int(math.sqrt(i))+1):
            if i%j==0:
                flag = 0
                break
    
        if flag is 1:
            print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

**List and Dictionary**

In [78]:
batsman = ['Sakib','Tamim','Mushfiq']
average = [35.63,32.19,33.56]

print(batsman)
print(average)
print('\n')

for i in batsman:
    print(i)

for i in range(len(average)):
    print(average[i])

['Sakib', 'Tamim', 'Mushfiq']
[35.63, 32.19, 33.56]


Sakib
Tamim
Mushfiq
35.63
32.19
33.56

**Dictionary**

In [89]:
allRounder ={
    'name' : 'Pranto',
    'country' : 'Bangladesh',
    'age' : '22',
    'totalRuns' : 7000,
    'totalWickets' : 350,
    'heighestRun' : 200
}

# print(allRounder)

# print(allRounder['name'],'has a total of ',allRounder['totalRuns'],' runs')

list1 = [allRounder,[1,2,3],25j,354,36.54,'Cricket']
for i in range(len(list1)):
    print(type(list1[i]))

<class 'dict'>
<class 'list'>
<class 'complex'>
<class 'int'>
<class 'float'>
<class 'str'>

**Function**

In [94]:
def say_hi(fname,mname,lname):
    return fname+' '+mname+' '+lname

fname,mname,lname='Tanmoy','Sarkar','Pranto'

print(f'Hello {fname} {mname} {lname}')

fullName = say_hi(fname,mname,lname)

print(fullName)

Hello Tanmoy Sarkar Pranto
Tanmoy Sarkar Pranto

**Recuursion**

In [106]:
def factorial(n):

    if n is 0:
        return 1
    
    else:
        return n*factorial(n-1)



while True:
    n = int(input('Enter a number to calculate factorial = '))
    if n is 0:
        break;
    
    fact = str(factorial(n))
    print('Factorial of'+n+'is '+fact)
    print(type(fact))

Enter a number to calculate factorial = 5

TypeError: ignored